.Link {
  height: auto;

  &__Wrapper {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    padding: 16px 66px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;

    p {
      margin-bottom: 0px;
    }
  }
}