@import 'src/styles/variables';

.Link {
  height: auto;

  &__Wrapper {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    padding: 16px 66px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;

    p {
      margin-bottom: 0px;
    }
  }

  & .SubLink__Wrapper {
    padding: 16px 30px;

    &__Scorllable {
      height: 330px;
      overflow-y: scroll;
    }

    & .Provider__Container {
      display: flex;
      justify-content: center;

      svg {
        color: $blue-grey-2;
        width: 72.67px;
        height: 16px;
      }
    }

    & .MusicPlatform__Wrapper {
      & .MusicIcon__Container {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}